<%= form_for @movie do |f| %>
    <div class="field">
    <%= f.label :映画名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>

<div class="field">
<%= f.label :ジャンル %>
<%= f.text_field :genre, :size => 30 %>
</div>

<div class="field">
<%= f.label :公開日 %>
<%= f.text_field :day, :size => 30 %>
</div>

<div class="field">
<%= f.label :監督名 %>
<%= f.text_field :directorsname, :size => 30 %>
</div>

<div class="field">
<%= f.label :画像 %>
<%= f.file_field :image %>
</div>

<div class="field">
    <%= f.label :レビュー  %>
    <%= f.text_area :review, :size => "30x4" %>
  </div>

    <%= f.submit "編集する" %>
  <% end %>
  