<h1>自分の題名</h1>
<h3>一覧ページ</h3>
<h3>投稿を検索</h3>
 <%= form_tag({controller:"movies",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>
<%= link_to "新規投稿へ", new_movie_path %>
<%= page_entries_info @movies %>
<div class="movies-container">
  <% @movies.each do |t| %>
    <div class="movie">
      <%= t.user.email %>
      <%= t.name %>
      <div>
<h2>総合評価：
<span class="star-rating">
   <span class="star-rating-front" style="width: <%= getPercent(t.degree) %>%;">★★★★★</span>
   <span class="star-rating-back">★★★★★</span>
</span> 
</h2>
</div>
      <%= t.genre %>
      <%= t.day %>
      <%= t.directorsname %>
      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to movie_like_path(id: t.id, movie_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>

      <% else %>
          <%= button_to movie_likes_path(id: t.id, movie_id: t.id), method: :post do %>
            <i class="fa-regular fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% end %>

  <% else %>
      <p>いいねの数 = </p><%= t.likes.count %>
  <% end %>
      <%= link_to "詳細へ", movie_path(t.id) %>
      <%= link_to "編集する", edit_movie_path(t.id) %>
      <%= button_to "削除する", movie_path(t.id), method: :delete %> 
      </div>
  <% end %>
</div>
<%= paginate @movies %>

